<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <style>
      .theimg {
        width: 10.5rem;
        height: 150px;
      }
      .card-header {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: #41475c;
      }
      .card-title {
        font-size: 18px;
        font-style: italic;
        text-align: center;
        color: #1f242e;
      }
      .card-text {
        text-align: center;
        justify-content: center;
      }
      .card-text::first-letter {
        text-transform: uppercase;
      }
      .card {
        transition: 300ms;
        border: solid 1.5px black;
      }
      .card:hover {
        background-color: #b8b6b0;
      }
      .card:hover img {
        width: 10.3rem;
        height: 160px;
      }
      a:link,
      a:visited,
      a:hover,
      a:active {
        text-decoration: none;
        color: #2e3138;
      }
    </style>
  </head>

  <body>
    <header><%- include('../partials/header'); %></header>
    <main class="container-fluid">
      <div class="row">
        <% for(var index=0; index < itemdata.length; index++) { %>
        <div class="d-flex flex-wrap p-3 mx-auto">
          <a href="/candidate/<%= [index] %>">
            <div class="card m-3" style="max-width: 10.5rem">
              <img
                class="card-img-top theimg"
                src="<%= itemdata[index].data()['img_url'] %>"
              />
              <div class="card-header">
                <%= itemdata[index].data()['name'] %>
              </div>
              <div class="card-body">
                <h4 class="card-title">
                  <%= itemdata[index].data()['party'] %>
                </h4>
                <p class="card-text">
                  <%= itemdata[index].data()['current_pos'] %>
                </p>
              </div>
            </div>
          </a>
        </div>
        <a href="/davao/<%[index]%>"> </a>
        <% } %>
      </div>

      <!--<div class="card border-primary mx-auto my-3" style="max-width: 10rem">
          <div class="card-header">Others</div>
          <div class="card-body">
            <h4 class="card-title">Primary card title</h4>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>-->
    </main>
    <!--<footer><%- include('../partials/footer'); %></footer> -->

    <%- include('../partials/script'); %>
  </body>
</html>
